.navbar-default .navbar-nav>li>a {
    color: #fff;
}
* {
  box-sizing:border-box;
}

a {
  color: #d8ac6d;
}

a:hover {
  text-decoration:none;
}

.container {
  width:80%;
}

.btn {
  text-decoration: none;
    text-align: center;
    font-size:1.3em;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding: 5px;
    border: 5px solid white;
    width: auto;
    margin: 10px auto;
    border-radius:0px;
    text-shadow:none;
}

.navbar {
  height:75px;
  margin-bottom:0;
  background-color:transparent;
  border:0px;
}

.opedatade {
  font-family: Roboto Mono, Tahoma, Geneva, sans-serif;
}
.oddelogo {
  height: 125px;
  margin-top: -12px;
}

#header {
  background:
    linear-gradient(
        rgba(119, 161, 160, 0.75),
        rgba(119, 161, 160, 0.75)
      ),url(../img/legislativehall.jpg);
      background-size:100% auto;
      background-repeat:no-repeat;
}

#header div {
  text-align: center;
}

.row.intro {
  height:480px;
  width:100%;
  margin:0 auto;
  overflow:auto;
  display:flex;
  justify-content:center;
    align-content:center;
    flex-direction:column;
}

.introcontent {
  color:white;
  width:100%;
  font-size:2em;
  text-shadow:1px 1px black;
}

.featuredlinks.col-md-4 {
  height:360px;
  font-family:Roboto;
  font-size:2em;
  box-sizing:border-box;
  padding:0;
  text-align:center;
}

.social {
  color: white;
  text-shadow:1px 1px black;
  display:block;
  width:100%;
  height:100%;
  display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.meetup {
  background:
    linear-gradient(
        rgba(216, 172, 109, 0.45),
        rgba(216, 172, 109, 0.45)
      ),url(../img/meetup.jpg);
  background-size:cover;
}

.slack {
  background:
    linear-gradient(
        rgba(216, 172, 109, 0.45),
        rgba(216, 172, 109, 0.45)
      ),url(../img/markell.jpg);
  background-size:cover;
}

.github {
  background:
    linear-gradient(
        rgba(119, 161, 160, 0.45),
        rgba(119, 161, 160, 0.45)
      ),url(../img/github.jpg);
      background-size:cover;
}

.row.twitter {
  padding-top:2em;
  text-align:center;
  background:
    linear-gradient(
        rgba(119, 161, 160, 0.60),
        rgba(119, 161, 160, 0.60)
      ),url(img/market.jpg);
  font-size:1.3em;
  color:white;
}

#twitterFetcher ul {
  list-style-type:none;
  padding:0;
}

#twitterFetcher li {
  padding-bottom:2em;
}

#twitterFetcher li:first-child {
  padding-top:2em;
}

#twitterFetcher .user {
  padding-bottom:1em;
}

#twitterFetcher .user img {
  border-radius:50%;
}

#twitterFetcher a {
  color:white;
  text-decoration:none;
}

#twitterFetcher a:hover {
  color: #d8ac6d;
  text-shadow:1px 1px black;
}

.tweet {
  overflow-wrap:break-word;
}

.tweet a {
  padding:1px;
  border-bottom:1px solid #d8ac6d;
}

.interact a {
margin: 0 10px;
}

.interact a, .timePosted a {
  border-bottom:none;
  text-decoration:none;
}

.interact a:hover, .timePosted a:hover {
  background-color:transparent;
}

.twitter_reply_icon, .twitter_retweet_icon, .twitter_fav_icon {
    font-size:0px;
    display: inline-block;
    text-align: center;
    padding:4px;
    width:20px;
}

.twitter_reply_icon:before, .twitter_retweet_icon:before, .twitter_fav_icon:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
    padding-right: 0.5em;
}

.twitter_reply_icon:before {
    content: '\f112';
}

.twitter_retweet_icon:before {
    content: '\f079';
}

.twitter_fav_icon:before {
    content: '\f005';
}
.row.contactus.frame{
  height:240px;
}
.row.contactus {

  box-sizing:border-box;
  background:
    linear-gradient(
        rgba(216, 172, 109, 0.45),
        rgba(216, 172, 109, 0.45)
      ),url(../img/contact.jpg);
  background-size:cover;
  color:white;
  text-shadow:1px 1px black;
}

.col-md-8.contactus, .col-md-4.contactus {

  box-sizing:border-box;
  text-align:center;
  font-size:2em;
  display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

footer {
  background-color: rgba(119, 161, 160, 0.75);
  color:white;
  text-align:center;
}

footer a {
  color: #337ab7;
}

body {
  font-family:"Roboto";
}
@media(min-width:997px){
  div.container.pushtext{
    margin-top:55px;
  }
}
@media(max-width:996px){
  div.container.pushtext{
    margin-top:40px;
  }
}
